@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;700&family=Rye&display=swap");

:root {
  /* Colors */
  --color-primary: #a68c70;
  --color-secondary: #5e4534;
  --color-background: #e8dcc5;
  --color-accent: #d1bfa6;
  --color-text: #2a261e;

  /* Typography */
  --font-family-heading: "Rye", cursive;
  --font-family-body: "Bitter", serif;
}

body {
  font-family: var(--font-family-body);
  background-color: var(--color-background);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
  color: var(--color-secondary);
}

p {
  font-family: var(--font-family-body);
  color: var(--color-text);
}

.title {
  text-align: center;
  color: var(--color-text);
}
